{% include "include/header.html" %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>회원 정보 보기</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2 label">ID</div>
                    <div class="col-md-8">{{ viewData.user_id }}</div>
                </div>
                <div class="row">
                    <div class="col-lg-2 label">이름</div>
                    <div class="col-md-8">{{ viewData.name }}</div>
                </div>
                <div class="row">
                    <div class="col-lg-2 label">등록일</div>
                    <div class="col-md-8">{{ common.dateFormat(viewData.regdate) }}</div>
                </div>
            </div>

			<div class="card-footer">
				<div class="d-flex justify-content-center">
					<a href="/member/?page={{page}}&search_key={{search_key}}" class="btn btn-sm btn-outline-secondary ms-1">목록</a>
					<a href="/member/modify?pkid={{viewData.pkid}}&page={{page}}&search_key={{search_key}}" class="btn btn-sm btn-outline-primary ms-1">수정</a>
					
          <form action="/member/delete" method="post">
            <input type="hidden" name="pkid" value="{{viewData.pkid}}"> <!-- pkid 전달 -->
            <button type="submit" class="btn btn-sm btn-outline-danger ms-1">삭제</button>
          </form>
				</div>
			</div>
          </div>

        </div>
      </div>
    </section>

  </main>



{% include "include/footer.html" %}