{% include "include/header.html" %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>공지사항</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <h5 class="card-header d-flex justify-content-between align-items-center">
                        <div class="input-group w-auto">
                            <input type="text" id="search_key" class="form-control" 
                            placeholder="검색어를 입력하세요." />
                            <button class="btn btn-sm btn-outline-secondary" type="button" onclick="search()">검색</button>
                        </div>

                    </h5>

                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col" class="col-1">번호</th>
                                    <th scope="col">제목</th>
                                    <th scope="col" class="col-2">작성자</th>
                                    <th scope="col" class="col-1">조회수</th>
                                    <th scope="col" class="col-1">등록일</th>
                                </tr>
                            </thead>
                            <tbody id="board_tbody">

                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer text-center">
                        <button class="btn btn-sm btn-outline-secondary" type="button"
                            onclick="getList()">More.</button>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <script>
        function dateFormat(dateStr, format = 'yyyy-mm-dd') {
            let millis = Date.parse(dateStr);
            let date = new Date(millis);

            let month = date.getMonth() + 1;
            let day = date.getDate();
            let hour = date.getHours();
            let minute = date.getMinutes();
            let second = date.getSeconds();

            month = month >= 10 ? month : '0' + month;
            day = day >= 10 ? day : '0' + day;
            hour = hour >= 10 ? hour : '0' + hour;
            minute = minute >= 10 ? minute : '0' + minute;
            second = second >= 10 ? second : '0' + second;

            format = format.replace(/yyyy/g, date.getFullYear());
            format = format.replace(/mm/g, month);
            format = format.replace(/dd/g, day);
            format = format.replace(/hh/g, hour);
            format = format.replace(/ii/g, minute);
            format = format.replace(/ss/g, second);

            return format;
        }

        let page = 0;
        let search_key = '';


        function search() {
            page = 0;
            search_key = $('#search_key').val();  // 위에 id 에 있는거

            $('#board_tbody').html('');    // 초기화

            getList();

        }



        function getList() {
            page++;
            $.ajax({
                url: "/board/getAjaxList",   // url: "getAjaxList" -> 상대경로    "/board/getAjaxList" -> 절대경로
                type: "get",
                cache: false,
                dataType: "json",
                data: "page=" + page + "&search_key=" + search_key,
                async: true,
                success: function (res) {
                    // 정상적으로 처리 완료되면 여기로
                    // json이 res에 담긴다
                    let html = '';

                    console.log(res);
                    if (res.length != undefined) {
                        for (i = 0; i < res.length; i++) {
                            console.log(res[i].pkid);
                            console.log(res[i].title);

                            // html에 string으로 계속 담김
                            html += '<tr class="text-center">' +

                                '<th scope="row">' + res[i].pkid + '</th>' +
                                '<td><a href="#">' + res[i].title + '</a></td>' +
                                '<td>' + res[i].name + '</td>' +
                                '<td>' + res[i].viewcount + '</td>' +
                                '<td>' + dateFormat(res[i].regdate, 'yyyy년 mm월 dd일') + '</td>' +
                                '</tr>';
                        }
                    }

                    $('#board_tbody').append(html);

                },
                error: function (request, status, error) {
                    alert("서비스가 원활하지 못합니다. 잠시후 다시 시도해 주시거나 관리자에게 문의해 주세요. ");
                    console.log(error);
                }
            });

        }

        $(document).ready(function () {
            // 여기서 data 가져오면 됨.
            //alert("로딩이 끝나면 이거 출력해"); 
            getList();
        });

    </script>
</main>

{% include "include/footer.html" %}