{% include "include/header.html" %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>공지사항 관리</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <form method="post" name="writeFrm" id="writeFrm" action="/board/register" enctype="multipart/form-data">  <!-- 본문 개길수있으니까 post, enctype 필수 -->
                    <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">공지사항 등록</h5>
                          <div class="row mb-3">
                            <label for="title" class="col-sm-2 col-form-label">제목</label>
                            <div class="col-sm-10 input-group">
                              <input type="text" name="title" id="title" class="form-control"> <!-- laber for랑 id 같게-->
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label for="content" class="col-sm-2 col-form-label">내용</label>
                            <div class="col-sm-10 input-group">
                              <textarea name="content" id="content" class="form-control" style="height: 100px"></textarea>
                            </div>
                          </div>

                          <div class="row mb-3">
                            <label for="attach_file" class="col-sm-2 col-form-label">첨부파일</label>
                            <div class="col-sm-10 input-group">
                              <input type="file" multiple name="attach_file" id="attach_file" class="form-control"> <!-- laber for랑 id 같게-->
                            </div>
                          </div>

                      </div>
      
                      <div class="card-footer">
                          <div class="d-flex justify-content-center">
                              <a href="list.html" class="btn btn-sm btn-outline-secondary ms-1">목록</a>
                              <button type="submit" href="register.html" class="btn btn-sm btn-outline-primary ms-1">등록</a>
                          </div>
                      </div>
                    </div>
                </form>
      

            </div>
        </div>
    </section>

    <script type="text/javascript">
        $(function () { // 페이지 로딩되면
            $('#writeFrm').validate({
                debug: false,
                onkeyup: false,
                submitHandler: function (f) {
                    f.submit();
                },
                rules: {
                    title: {
                        required: true,
                    },
                    content: {
                        required: true,
                    }
                },
                messages: {
                    title: {
                        required: "제목을 입력하세요.",
                    },
                    content: {
                        required: "내용을 입력하세요.",
                    }
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.input-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        }); 
    </script>

</main>

{% include "include/footer.html" %}